body {
  margin: 150px 0px 0px;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 136px;
  margin-right: 136px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 268px;
}

.bold {
  font-weight: 700;
}

.block {
  width: 100px;
  height: 34px;
  background: #0d28a6;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
